In [9]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import shutil
from mumin import MuminDataset
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv())

True

In [14]:
dataset = MuminDataset()
dataset

c:\Users\ethan\anaconda3\lib\site-packages\mumin\dataset.py:176: UserWarning: Twitter bearer token not provided, so rehydration can not be performed. This is fine if you are using a pre-compiled MuMiN, but if this is not the case then you will need to either specify the `twitter_bearer_token` argument or set the environment variable `TWITTER_API_KEY`.
  warnings.warn('Twitter bearer token not provided, so '

MuminDataset(size=small, compiled=False, bearer_token_available=False)

In [16]:
shutil.copy(Path("../data/external/mumin-small.zip"), 'mumin-small.zip')

'mumin-small.zip'

In [17]:
dataset.compile()

2022-05-24 23:03:05,787 [INFO] Loading dataset

MuminDataset(num_nodes=383,740, num_relations=467,765, size='small', compiled=True, bearer_token_available=False)

In [21]:
dataset.nodes['tweet']

,tweet_id,text,created_at,lang,source,num_retweets,num_replies,num_quote_tweets
0,1238947475471454220,Antes de llegar a los pulmones dura 4 dÃ­as en ...,2020-03-14 21:57:51,es,Twitter for Android,8,3,0
1,1295062953000042496,Aeroporto de Dubai em chamas. ðŸ¤•ðŸ˜§ https://t.co/...,2020-08-16 18:20:43,pt,Twitter for Android,6,0,5
2,1294614020008312832,Fogo ðŸ”¥ no aeroporto de Dubai ðŸ˜±ðŸ˜± https://t.co/2...,2020-08-15 12:36:49,pt,Twitter for Android,24,11,7
3,1294701863489744896,Fogo no aeroporto de Dubai. https://t.co/yhQDe...,2020-08-15 18:25:53,pt,Twitter for Android,14,7,4
4,1295124644085805057,Incendio en el aeropuerto de Dubai https://t.c...,2020-08-16 22:25:52,es,Twitter for Android,33,5,3
...,...,...,...,...,...,...,...,...
4332,1395666844602798082,,NaT,NaN,,0,0,0
4333,1228444529893789696,,NaT,NaN,,0,0,0
4334,1254824343646978053,,NaT,NaN,,0,0,0
4335,781079059690381312,,NaT,NaN,,0,0,0
4336,1105840789383454720,,NaT,NaN,,0,0,0

In [22]:
dataset.nodes['claim']

,embedding,label,reviewers,date,language,keywords,cluster_keywords,cluster,train_mask,val_mask,test_mask
0,"[-0.04202667623758316, -0.00033039430854842067...",misinformation,[observador.pt],2020-03-15 12:30:21,pt,corona virus reaching lungs remains,coronavirus china covid 19 treatments recommended,0,True,False,False
1,"[-0.19561722874641418, -0.23915071785449982, 0...",misinformation,[observador.pt],2020-08-17 17:14:55,pt,big dubai airport,,-1,True,False,False
2,"[0.05876247584819794, 0.02175525575876236, 0.0...",misinformation,[observador.pt],2020-03-23 01:55:11,pt,news corona virus vaccine ready,coronavirus china covid 19 treatments recommended,0,True,False,False
3,"[0.05904906615614891, 0.3682330846786499, 0.00...",misinformation,[observador.pt],2018-02-19 21:05:35,pt,gardenzio stallone died morning prostate,,-1,True,False,False
4,"[0.049279212951660156, 0.021194076165556908, -...",misinformation,[observador.pt],2020-06-03 10:24:50,pt,81 blacks killed blacks 97,agency jacques attali future question finding ...,16,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2160,"[0.19675391912460327, 0.02616865746676922, -0....",misinformation,[boomlive.in],2021-05-10 13:09:31,en,searched google 163 million times,,-1,True,False,False
2161,"[-0.03113579750061035, 0.06013331934809685, -0...",factual,[dogrulukpayi.com],2021-06-12 00:00:00,tr,turkey akp era added history,,-1,True,False,False
2162,"[0.031979452818632126, 0.10698806494474411, -0...",factual,[dogrulukpayi.com],2021-07-04 00:00:00,tr,diyanet issued fatwa women money,,-1,True,False,False
2163,"[-0.010320787318050861, 0.2420617938041687, 0....",misinformation,[dogrulukpayi.com],2020-12-11 00:00:00,tr,announced temporary facial paralysis,coronavirus china covid 19 treatments recommended,0,True,False,False
2164,"[0.0019091481808573008, 0.021807804703712463, ...",misinformation,[fakenews.pl],2021-01-15 00:00:00,pl,died norway result vaccination covid,coronavirus china covid 19 treatments recommended,0,True,False,False

In [29]:
dataset.nodes.keys()

dict_keys(['claim', 'tweet', 'user', 'image', 'article', 'hashtag', 'reply'])

In [30]:
list(dataset.rels.keys())

[('tweet', 'discusses', 'claim'),
 ('tweet', 'mentions', 'user'),
 ('tweet', 'has_image', 'image'),
 ('tweet', 'has_hashtag', 'hashtag'),
 ('tweet', 'has_article', 'article'),
 ('reply', 'reply_to', 'tweet'),
 ('reply', 'quote_of', 'tweet'),
 ('user', 'posted', 'tweet'),
 ('user', 'posted', 'reply'),
 ('user', 'mentions', 'user'),
 ('user', 'has_hashtag', 'hashtag'),
 ('user', 'retweeted', 'tweet'),
 ('user', 'follows', 'user')]

In [34]:
dataset.nodes['claim'].label.value_counts()

misinformation    2007
factual            158
Name: label, dtype: int64

In [25]:
dataset.rels[('user', 'retweeted', 'tweet')]

          src   tgt
0        5089     1
1        5089  1385
2       37781  1385
3       37781    10
4      144946  1385
...       ...   ...
13267  150684  4048
13268    3238  4048
13269  150687  4048
13270  150694  4048
13271   29723  4059

[13272 rows x 2 columns]