In [1]:
import pandas as pd
import numpy as np

In [2]:
fib_dir = "../data/external/FibVID-main/"

In [7]:
claim_propagation = pd.read_csv(fib_dir + "claim_propagation/claim_propagation.csv")
origin_tweet = pd.read_csv(fib_dir + "claim_propagation/origin_tweet.csv")

In [8]:
origin_tweet

,create_date,tweet_id,similarity,like_count,retweet_count,post_text,claim_number,group,hashtag,tweet_user
0,2020-07-28T14:04:36.000Z,1288113129889517578,0.000000,2823,1050,The latest round of testing from the Miami Mar...,0,1,NaN,85952
1,2020-07-28T03:36:37.000Z,1287955090184105984,0.000000,54,100,Scammers are cold calling Victorians claiming ...,0,1,COVID,5342
2,2020-07-27T21:05:06.000Z,1287856562200088581,0.000000,822,428,"“It feels like we’re alone,” Hialeah, FL, Mayo...",0,1,NaN,78787
3,2020-07-27T14:54:11.000Z,1287763218933395461,0.000000,36687,14982,The best laid plans of a multi-billion dollar ...,0,1,NaN,80798
4,2020-04-02T14:37:32.000Z,1245722037869477896,0.404285,13276,4154,NYC’s case fatality rate for Covid19 is now al...,57,1,NaN,80798
...,...,...,...,...,...,...,...,...,...,...
1769,2020-12-10T06:10:04.000Z,1336916069336948736,0.445844,2328,345,Struggling after speaking with ⁦@donlemon⁩ ton...,298,1,COVID19,61051
1770,2020-12-04T15:10:13.000Z,1334877674540572672,0.328623,11593,2454,As the dust settles on Democrats' downballot f...,298,1,NaN,42186
1771,2020-12-05T11:19:16.000Z,1335181945635004417,0.659882,1436,180,We broke the news on #OutLoudWithGiannoCaldwel...,298,1,OutLoudWithGiannoCaldwell,73973
1772,2020-12-20T20:31:55.000Z,1340756841454850049,0.390273,171932,2654,I see your tweets and I’m trying to double and...,298,1,NaN,75482
1773,2020-05-08T17:16:17.000Z,1258807951164239873,0.856750,283,205,A 2020 peer-reviewed study published in the jo...,299,1,NaN,103443

In [12]:
claim_propagation

,tweet_user,tweet_id,like_count,depth,parent_user,create_date,parent_id,retweet_count,post_text,claim_number,group,hashtag
0,64,1260590991641362436,301,0,0,2020-05-13T15:21:27.000Z,0,113,So you left a 69 page guidebook but no PPE or ...,141,1,NaN
1,135,1288771853822103552,194,0,0,2020-07-30T09:42:08.000Z,0,99,More tales from the NHS frontline are emerging...,138,0,NaN
2,290,1251209120528637952,7650,0,0,2020-04-17T18:01:15.000Z,0,4279,DEVELOPING: A crowd of protesters could be see...,30,0,NaN
3,361,1339567071588442113,621,0,0,2020-12-17T13:44:12.000Z,0,231,"Latest we expect on checks, *as of now*, per a...",285,3,NaN
4,457,1265997510738358272,959,0,0,2020-05-28T13:25:02.000Z,0,271,Wisconsin election officials agree to send vot...,35,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
221248,144736,1235937681047080960,0,1,106463,2020-03-06T14:38:00.000Z,1235932698688053249,0,"#WaterIsLife \nremember your vote matters, \nC...",229,2,WaterIsLife#WhenWeAllVote#FlintWaterCrisis
221249,144737,1279815303631798273,1,1,141002,2020-07-05T16:32:00.000Z,1279489733249433600,1,don’t go get tested. i’m sure you will beat so...,131,1,NaN
221250,144738,1242264347025571842,0,1,93248,2020-03-24T01:37:55.000Z,1242257594540056576,1,NO @GOP should even entertain this anti-Americ...,96,0,NaN
221251,144739,1234597235746394118,0,1,56172,2020-03-02T21:51:33.000Z,1234592892896923652,0,I assume if you win it will the begging of the...,173,3,NaN
221252,144740,1283521698285998082,0,1,37059,2020-07-15T21:59:54.000Z,1283488682863996929,0,@RealMattyMorse @EigenmannSarah @LtGovFlanagan...,98,1,NaN